.contact-section {
  padding: 100px 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  font-size: 42px;
  font-weight: 600;
  color: black;
  position: relative;
  margin-bottom: 60px;
}

.underline {
  display: block;
  height: 4px;
  background: red;
  margin-top: 6px;
  border-radius: 5px;
}

.contact-form {
  width: 100%;
  max-width: 550px;
  background: #ffffffd5;
  backdrop-filter: blur(6px);
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.15);
}

.form-group {
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
  background: #fafafa;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: black;
  background: white;
}

textarea {
  min-height: 130px;
  resize: none;
}

.submit-btn {
  width: 100%;
  padding: 14px 0;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #333;
  transform: translateY(-2px);
}
